.rogueclass {
    color: #FFF569;
}

.mageclass {
    color: #40C7EB;
}

.shamanclass {
    color: #0070DE;
}

.paladinclass {
    color: #F58CBA;
}

.monkclass {
    color: #00FF96;
}

.hunterclass {
    color: #ABD473;
}

.demon-hunterclass {
    color: #A330C9;
}

.warlockclass {
    color: #8787ED;
}

.death-knightclass {
    color: #C41F3B;
}

.priestclass {
    color: white;
}

.warriorclass {
    color: #C79C6E;
}

.druidclass {
    color: #FF7D0A;
}