@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    background-color: #ebebeb;
    font-family: 'Montserrat';
    color: #acacac;
    background-image: url('../img/bg.png');
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-rows: 34px auto auto auto;
    border: 1px solid #524e4e;
}

.header {
    display: grid;
    grid-template-columns: 85% auto;
    background: #333638;
    z-index: 2;
}

.logo {
    -webkit-app-region: drag;
    padding: 8px;
}

nav {
    justify-self: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}

nav img {
    width: 12px;
    cursor: pointer;
}

nav img#min {
    padding: 10px;
}

.input {
    display: grid;
    grid-template-columns: 280px 130px auto;
    background-color: #acacac;
}

input {
    background-color: #acacac;
    border: 0;
    padding: 12px;
    font-family: 'Montserrat';
    font-size: 12.6px;
    outline: none;
}

#characterNameInput {
    margin: 0;
}

#characterRealmInput {
    color: #1f1f1f;
    background-color: #ccc;
    margin: 0;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    color: #524e4e;
    
}

input[list] {
    color: #1f1f1f;
    background-color: #ccc;
    margin: 0;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    color: #524e4e;
    
}

#characterRealmInput::-webkit-calendar-picker-indicator {
    display: none;
  }

#realmList {
    color: #1f1f1f;
    background-color: #ccc;
    margin: 0;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    color: #524e4e;
}

button {
    border: none;
    padding: 12px;
    color: #524e4e;
    font-family: 'Montserrat';
    font-size: 12.6px;
    outline: none;
    margin: 0;
}

button:hover {
    background: #333638;
    color: #acacac;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 55% auto;
    padding: 20px;
    height: 108px;
}

#loading {
    
}


.loading {
    border: 8px solid rgb(92, 92, 92);
    border-radius: 50%;
    border-top: 8px solid #e83897;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 120px;
    left: 240px;
    z-index: 3;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

main figure {
    margin: 0;
}

figure img {
    border-radius: 50%;
    float: left;
    width: 58px;
    height: 60;
    margin-right: 20px;
    margin-top: 15px;
    border: 2px solid #ffffff;
}

figcaption {
    margin-top: 25px;
    cursor: default;
}

figcaption strong {
    font-weight: bold;
    color: #acacac;
    font-size: 22px;
    display: block;
    margin-bottom: 0;
}

figcaption span {
    font-size: 14px;
    margin-top: 0px;
    font-weight: normal;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2,90px);
    justify-self: right;
    margin-top: 25px;
}

.mplus {
    display: grid;
    grid-template-rows: repeat(2,auto);
    float: left;
    cursor: pointer;
    text-align: center;
}

#mPlusScore {
    border-bottom: 4px solid #acacac;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.mplus span {
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}

.raidprog {
    float: left;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
}

#raidProgg {
    border-bottom: 4px solid #acacac;
    font-size: 22px;
    font-weight: bold;
    color: #e83897;
}

.raidprog span {
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}

.hiddentooltip .tooltiptext  {
    visibility: hidden;
}

.tooltip {
   visibility: visible;
}


.tooltip .tooltiptext {
    position: relative;
    width: 60px;
    top: 45px;
    right: 0px;
    visibility: hidden;
    background-color: #1f1f1f;
    border: 1px solid #524e4e;
    color: orange;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .tooltiptext:after {
    visibility: visible;
}

.tooltip:hover .tooltiptext:before {
    visibility: visible;
}

.tooltiptext:after, .tooltiptext:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltiptext:after {
	border-color: rgba(31, 31, 31, 0);
	border-bottom-color: #1f1f1f;
	border-width: 5px;
    margin-left: -5px;
    visibility: hidden;
}
.tooltiptext:before {
	border-color: rgba(82, 78, 78, 0);
	border-bottom-color: #524e4e;
	border-width: 6px;
    margin-left: -6px;
    visibility: hidden;
}



.errorMsg {
    cursor: default;
    background: #1f1f1f;
    border-radius: 6px;
    border: 1px solid #524e4e;
    font-size: 14px;
    padding: 10px;
    z-index: 2;
    position: absolute;
    top: 125px;
    left: 20px;
}

footer {
    background: #333638;
    padding: 5px;
    border-top: 1px solid #1f1f1f;
    font-size: 12px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #e88338;
}



